.input{
    margin-left: 10px;
}
.card{
    width: 100%;
    display: flex;
}
.name{
    width: 60%;
    padding: 0;
}
.wrapper{
    width: 40%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
}
.button{
    height: 100%;
}